@import '~normalize.css';
// @import '~material-icons/iconfont/material-icons.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}
html {
  font-size: 62.5%; // Normalize Font Size for Rem
}
body {
  margin: 0;
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #4e82c7;
}

.window {
  background-color: #f5f5f5;
  overflow-y: hidden;

  width: 100vw;
  height: calc(50vh - 4.6rem);
}
.material-icons {
  font-size: inherit;
}
