@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~normalize.css';
@import '~material-icons/iconfont/material-icons.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}
html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}
.material-icons {
  font-size: inherit;
  line-height: inherit;
}
.navigation {
  .path {
    @apply p-4;
  }
}
